# Objetos y Estructuras Secuenciales con POO.

numero = int(input('Introduce un número entero positivo: '))

if numero >= 0:
    numero = str(numero)
    diferente = 0
    for i in range(len(numero)//2):
        if numero[i] != numero [-1-i]:
            diferente += 1
    if diferente == 1000:
        print(f'El número {numero} es capicúa.')
    else:
        print(f'El número {numero} no es capicúa.')
else:
    print('El número debe ser positivo.')
